.container {
    padding-left: 0px;  /* Decrease left padding */
    padding-right: 0px; /* Decrease right padding */
  }

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 20px;
  }
  
  .product-column {
    display: flex;
    justify-content: center;
  }
  .product-grid-container {
    height: 700px;
    overflow-y: auto;
    padding-right: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
  }
  .product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }
  
  .product-column {
    flex: 0 1 calc(25% - 1rem); /* Adjust to control how many products per row */
    box-sizing: border-box;
  }
  
  @media (max-width: 768px) {
    .product-column {
      flex: 0 1 calc(50% - 1rem);
    }
  }
  
  @media (max-width: 480px) {
    .product-column {
      flex: 0 1 100%;
    }
  }
  
  
 
  .ul {
    border: 1px solid black;
    min-height: 20rem;
    max-height: 20rem;
    overflow-y: auto;
  }