<form [formGroup]="couponForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="couponCode">Coupon Code:</label>
      <input id="couponCode" formControlName="couponCode" />
      <div *ngIf="couponForm.controls['couponCode'].invalid && couponForm.controls['couponCode'].touched">
        Coupon code must not be blank.
      </div>
    </div>
  
    <div>
      <label for="usageLimit">Usage Limit:</label>
      <input type="number" id="usageLimit" formControlName="usageLimit" />
      <div *ngIf="couponForm.controls['usageLimit'].invalid && couponForm.controls['usageLimit'].touched">
        Usage limit must be a positive number.
      </div>
    </div>
  
    <div>
      <label for="expiryDate">Expiry Date:</label>
      <input type="datetime-local" id="expiryDate" formControlName="expiryDate" />
    </div>
  
    <div>
      <label for="discountType">Discount Type:</label>
      <select id="discountType" formControlName="discountType">
        <option *ngFor="let type of discountTypes" [value]="type">{{ type }}</option>
      </select>
      <div *ngIf="couponForm.controls['discountType'].invalid && couponForm.controls['discountType'].touched">
        Discount type is required.
      </div>
    </div>
  
    <div>
      <label for="discountValue">Discount Value:</label>
      <input type="number" step="0.01" id="discountValue" formControlName="discountValue" />
      <div *ngIf="couponForm.controls['discountValue'].invalid && couponForm.controls['discountValue'].touched">
        Value should be positive.
      </div>
    </div>
  
    <button type="submit" [disabled]="couponForm.invalid">Submit</button>
  </form>
  