<div class="d-flex">




    @if (isAdmin())
    {
        <app-admin-sidebar></app-admin-sidebar>
    }
 
   
    <div class="container mt-5">
        <div class="profile-card">
            <div class="profile-header">
                <div class="profile-icon">
                    <i class="fas fa-user-shield"></i>
                    <div class="admin-badge">
                        <i class="fas fa-crown"></i>
                        <span>{{user?.role}}</span>
                    </div>
                </div>
                <h2>{{user?.firstName}} {{user?.lastName}}</h2>
            </div>
            
            <div class="profile-content">
                <div class="info-section">
                    <div class="info-group">
                        <i class="fas fa-envelope"></i>
                        <div class="info-details">
                            <label>Email</label>
                            <p>{{user?.email}}</p>
                        </div>
                    </div>
                    <div class="info-group">
                        <i class="fas fa-user"></i>
                        <div class="info-details">
                            <label>Role</label>
                            <p>{{user?.role}}</p>
                        </div>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
</div>
