<app-customer-navebare (searchTextChanged)="handleSearch($event)"></app-customer-navebare>

<div class="container mt-4">
  <div class="text-center py-4 bg-light rounded shadow-sm">
    <h2 class="fw-bold mb-2 text-primary">Welcome to ShopEase!</h2>
    <p class="text-muted mb-0">Discover stores, amazing products, and exclusive deals tailored just for you.</p>
  </div>
</div>


<div class="container mt-4">    
  <div class="store-grid">
    <div class="store-column" *ngFor="let store of filteredStores">
      <app-card-store [store]="store"></app-card-store>
    </div>
  </div>
</div>
