

    <!-- ======== main-wrapper start =========== -->
    <main class="main-wrapper">
    
        <!-- ========== signin-section start ========== -->
        <section class="signin-section">
          <div class="container-fluid">
            <!-- ========== title-wrapper start ========== -->
            <div class="title-wrapper pt-30">
              <div class="row align-items-center">
                <div class="col-md-6">
                 
                </div>
                <!-- end col -->
                <div class="col-md-6">
                  <div class="breadcrumb-wrapper">
                    <nav aria-label="breadcrumb">
                     
                    </nav>
                  </div>
                </div>
                <!-- end col -->
              </div>
              <!-- end row -->
            </div>
            <!-- ========== title-wrapper end ========== -->
  
            <div class="row g-0 auth-row">
              <div class="col-lg-6">
                <div class="auth-cover-wrapper bg-primary-100">
                  <div class="auth-cover">
                    <div class="title text-center">
                      <h1 class="text-primary mb-10">Welcome Back</h1>
                      <p class="text-medium">
                        Start creating the best possible user experience for you
                      customers.
                      </p>
                    </div>
                    <div class="cover-image">
                      <img src="assets/images/auth/signin-image.svg" alt="" />
                    </div>
                  
                  </div>
                </div>
              </div>
              <!-- end col -->
              <div class="col-lg-6">
                <div class="signin-wrapper">
                  <div class="form-wrapper">
                    <h3 class="mb-15">Sign Up</h3>
                    <p class="text-sm mb-25">
                      Start creating the best possible user experience for you
                      customers.
                    </p>
                    <form (ngSubmit)="onSubmit()">
                      <div class="row">
                        <div class="col-12">
                            <div class="input-style-1">
                              <label>First Name</label>
                              <input  placeholder="First Name" name="firstName" [(ngModel)]="registerRequest.firstName" />
                              <div *ngIf="fieldErrors?.['firstName']" class="text-danger">
                                <i class="fas fa-exclamation-circle"></i>
                                {{ fieldErrors['firstName'] }}
                              </div>
                            </div>
                           
                          </div>
                          <div class="col-12">
                            <div class="input-style-1">
                              <label>Last Name</label>
                              <input  placeholder="Last Name" name="lastName" [(ngModel)]="registerRequest.lastName" />
                              <div *ngIf="fieldErrors?.['lastName']" class="text-danger">
                                <i class="fas fa-exclamation-circle"></i>
                                {{ fieldErrors['lastName'] }}
                              </div>
                            </div>
                           
                          </div>
                        <div class="col-12">
                          <div class="input-style-1">
                            <label>Email</label>
                            <input type="email" placeholder="Email" name="email" [(ngModel)]="registerRequest.email" />
                            <div *ngIf="fieldErrors?.['email']" class="text-danger">
                              <i class="fas fa-exclamation-circle"></i>
                              {{ fieldErrors['email'] }}
                            </div>
                          </div>
                          
                        </div>
                        <!-- end col -->
                        <div class="col-12">
                          <div class="input-style-1">
                            <label>Password</label>
                            <input type="password" placeholder="Password" name="password" [(ngModel)]="registerRequest.password"/>
                            <div *ngIf="fieldErrors?.['password']" class="text-danger">
                              <i class="fas fa-exclamation-circle"></i>
                              {{ fieldErrors['password'] }}
                            </div>
                          </div>
                          <div *ngIf="fieldErrors?.['general']" class="text-danger">
                            <i class="fas fa-exclamation-circle"></i>
                            {{ fieldErrors['general'] }}
                          </div>
                          
                         
                        </div>
                      
                      
                        <!-- end col -->
                        <div class="col-12">
                          <div class="button-group d-flex justify-content-center flex-wrap">
                            <button class="main-btn primary-btn btn-hover w-100 text-center">
                              Sign Up
                            </button>
                          </div>
                        </div>
                      </div>
                      <!-- end row -->
                    </form>
                    <div class="singin-option pt-40">
                   
                      <p class="text-sm text-medium text-dark text-center">
                        Do you have account ?
                        <a [routerLink]="['/login']">log in now</a>
                      </p>
                    
                    </div>
                  </div>
                </div>
              </div>
              <!-- end col -->
            </div>
            <!-- end row -->
          </div>
        </section>
        <!-- ========== signin-section end ========== -->
      </main>
  