<div class="card-wrapper">
  <div class="single-card-wrapper">
    <div class="single-card card-style-1">
      
      
       <div class="card-image">
        
          <img [src]="product.imageUrl" alt="{{ product.name }}">
      
       </div>
    

      
      <div class="card-content">
        <h4>{{ product.name }}</h4>
        <p class="text-muted mb-2">{{ product.description }}</p>
        <h5 class="text-primary">{{ product.price | currency }}</h5>

        <button class="btn btn-primary mt-3">
          Add to Cart
        </button>
      </div>

    </div>
  </div>
</div>
